*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

/* ---------------------- header ------------------------ */

.sub-header{
    width: 100%;
    height: 50vh;
    /* background-color: rgba(125, 15, 15, 0.9); */
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-image: linear-gradient(rgba(125, 15, 15, 0.9),rgba(125, 15, 15, 0.9)), 
    url(photos/ssie-2.jpeg); 
    background-position: center; 
    background-size: cover;
}


nav{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

nav img{
    width: 120px;
    margin: 30px 0px;
    padding: 20px;
    border: 2px solid white;
}

.nav-links ul{
    list-style: none;
    font-size: 20px;
    text-align: right;
}

.nav-links ul li{
    display: inline-block;
    margin: 20px 20px;
    padding-right: 20px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}



nav .fas{
    display: none;
}

@media(max-width: 1300px) {

    .nav-links ul{
        font-size: 18px;
        text-align: left;
    }

    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #7D0F0F;
        height: 100vh; 
        width: 250px;
        top: 0;
        right: -250px; 
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    nav .fas{
        display: block;
        color: #fff; 
        margin: 10px; 
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px; 

    }
}

.sub-header-text-box{
    width: 60%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sub-header h1{
    /* font-family: 'Bungee Shade', cursive; */
    font-size: 55px;
    /* padding-bottom: 2vh; */
    /* color: #e9dabaf2; */
    color: white;
    
}


.body{
    width: 100%;
    background: rgba(201, 201, 201, 0.5);
}

/* --------------------- text box ----------------------- */

.who-we-are{
    padding: 5vh 0vh;
    width: 100%;
    /* margin: auto; */
    align-items: center;
    /* background-color: white; */
}

#who-we-are-text-box{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    /* background: rgb(219, 219, 219); */

    background: transparent;
    margin: auto;
    /* border: 2px solid black; */
    border-radius: 25px;
    
    text-align: center;

    
}

#who-we-are-text-box h2{
    font-size: 25px;
    position: relative;
    color: rgba(125, 15, 15);
    padding-bottom: 80px;
}

#who-we-are-text-box h1{
    font-size: 30px;
    position: relative;
    font-style: italic;
    color: black;
    font-weight: 700;
}

@media(max-width: 800px){
    #who-we-are-text-box h2{
        font-size: 20px;
    }

    #who-we-are-text-box h1{
        font-size: 25px;
    }
}


/* ------------------------ the board --------------------- */

.member-box{
    width: 80%;
    margin: auto;
    background: white;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 25px;
    margin: 30px 10%;
}

.member-photo{
    flex-basis: 22%;
    box-sizing: border-box;
    /* text-align: center; */
    justify-content: center;
    margin: auto;
    position: relative;
    padding: 20px;
    background: white;

}

.member-photo img{
    object-fit: cover;
    max-width: 250px;
    max-height: 250px;
}

.member-text{
    flex-basis: 73%;
    padding: 20px 60px;
}

.member-text h2{
    font-size: 30px;
    padding-bottom: 3px;
}

.member-text h4{
    font-size: 20px;
    padding-bottom: 15px;
    font-style: italic;
}

.member-text p{
    font-size: 17px;
}



@media(max-width: 1000px){
    .member-box{
        flex-direction: column;
    }
}


/* ---------- footer ------------- */

.footer{
    background-color: black;
    width: 100%; 
    text-align: center;
    padding: 30px 0; 
    font-family: 'Roboto', sans-serif;
}

.footer h4{
    color: white; 
}

.icons .fa-brands{
    margin: 0 13px; 
    cursor: pointer; 
    padding: 18px 0; 
    color: white; 
    font-size: 20px;
}
