
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

/* ---------------------- header ------------------------ */

.sub-header{
    width: 100%;
    height: 50vh;
    font-family: 'Roboto', sans-serif;
    position: relative;
    background-image: linear-gradient(rgba(125, 15, 15, 0.9),rgba(125, 15, 15, 0.9)), 
    url(photos/ssie-3.jpeg); 
    background-position: center; 
    background-size: cover;
}


nav{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
}

nav img{
    width: 120px;
    margin: 30px 0px;
    padding: 20px;
    border: 2px solid white;
}

.nav-links ul{
    list-style: none;
    font-size: 20px;
    text-align: right;
}

.nav-links ul li{
    display: inline-block;
    margin: 20px 20px;
    padding-right: 20px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: white;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.sub-header-text-box{
    width: 60%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sub-header h1{
    font-size: 55px;
    color: white;
    
}


.body{
    width: 100%;
    background: rgba(201, 201, 201, 0.5);
}


/* --------------------- our events title ----------------------- */

.our-events{
    padding: 5vh 0vh;
    width: 100%;
    align-items: center;
}

#our-events-text-box{
    width: 80%;
    margin: auto;
    padding-top: 10px;
    background: transparent;
    margin: auto;
    border-radius: 25px;
    text-align: center;
}


#our-events-text-box h1{
    font-size: 30px;
    position: relative;
    /* font-style: italic; */
    color: black;
    font-weight: 700;
}



/* --------------------- springbreak trip -------------------------- */

.spring-break-la{
    width: 100%;
    margin: 3% 0;
}

.spring-break-la h2{
    text-align: center;
    font-size: 27px;
    padding: 30px;
    font-style: italic;
    color: rgba(125, 15, 15)
}


.spring-break-box{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}


.spring-break-box-text{
    flex: 40%;
    margin-right: 10px;
    position: relative;
    margin-top: 5%;
    
}

.spring-break-box-text p{
    font-size: 20px;
}

.spring-break-box-photos{
    flex: 55%;
    margin-left: 10px;
}

.spring-break-box-photos img{
    object-fit: cover;
    max-width: 500px;
}



/* ---------- footer ------------- */

.footer{
    background-color: black;
    width: 100%; 
    text-align: center;
    padding: 30px 0; 
    font-family: 'Roboto', sans-serif;
}

.footer h4{
    color: white; 
}

.icons .fa-brands{
    margin: 0 13px; 
    cursor: pointer; 
    padding: 18px 0; 
    color: white; 
    font-size: 20px;
}
